alias ..="cd .."
alias cd..="cd .."
alias ls="exa -1 --group-directories-first"
alias ll="ls -l"
alias la="ls -a"
alias nala="sudo nala"
alias cat="bat"
alias vim="nvim"
alias vi="nvim"
alias cl="clear"
alias lg="lazygit"
