* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#clock,
#network,
#pulseaudio,
#tray,
#workspaces,
#window,
#language,
#custom-power {
  padding: 4px 6px;
  margin: 5px;
  border-radius: 5px;
  background: #1e1e2e;
  color: #cba6f7;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  padding: 0;
  border-radius: 50%;
  margin: 0 2px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #cba6f7;
  color: #1a1b26;
}

#workspaces button.urgent {
  color: #e8748c;
}

#network.disconnected {
  color: #e8748c;
  border: 2px solid #e8748c;
}

#tray,
#workspaces {
  border: 2px solid #cba6f7;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #e8748c;
}

#keyboard-state {
  background: #71cdc3;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#pulseaudio {
  color: #d2a569;
}

#network {
  color: #76bfed;
}

#language {
  color: #70cdc2;
}

#custom-power {
  color: #f2758d;
  margin-right: 20px;
}

#custom-terminal,
#custom-browser {
  font-size: 20px;
  margin-left: 5px;
}

#custom-files {
  font-size: 17px;
}

#custom-apps {
  font-size: 17px;
  margin-left: 3px;
  margin-right: 5px;
  color: #cba6f7;
}
