@import "rose-pine.css";

* {
  font-family: "Fira Sans Condensed", "JetBrainsMono Nerd Font", FontAwesome;
  font-size: 16px;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

window#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#clock,
#pulseaudio,
#tray,
#bluetooth,
#workspaces,
#window {
  padding: 0 5px;
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  color: @text;
  margin: 0 2px;
}

#workspaces button.active {
  color: @iris;
}

#workspaces button.urgent {
  color: @love;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}
