@import "rose-pine.css";

* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome;
  font-size: 16px;
  padding: 0 8px;
  margin: 0;
  border-radius: 0;
}

window#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#window * {
  font-family: "Fira Sans Condensed";
}

#workspaces * {
  padding: 0;
}

#workspaces button {
  color: @text;
  margin: 0 2px;
}

#workspaces button.active {
  color: @base;
  background-color: @iris;
}

#workspaces button.urgent {
  color: @base;
  background-color: @love;
}

#tray * {
  padding: 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}
